@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Lato:wght@700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: rgb(34, 34, 34);
    font-family: 'DM Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    // font-family: 'Quicksand', sans-serif; //En
}

a{
    color: #fff;
    text-decoration: none;
}

.content{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
}

.wrapper{
    width: 50%;
    height: 50%;

    time{
        text-shadow: #000 2px 3px 150px;
        font-size: 100px;
        span{
            padding: 10px;
        }
    }
    .desc{
        transition-duration: 2s;
        font-size: 30px;
        text-shadow: #000 6px 5px 20px;
    }
    .content-desc{
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
        padding-top: 10px;
    }
}

.header {
    display: flex;
    justify-content: space-around;
    position: absolute;
    font-size: 10px;
    top: 0;
    width: 100%;
    height: 80px;
    max-height: 10px;
}



.header-help{
    text-shadow: #000 6px 5px 5px;
    color: #fff;

}


.header-help span:hover{
    cursor: pointer;
}

.content-author{
    padding-top: 5px;
}

.author{
    transition-duration: 0.5s;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.header-lang{
    display: flex;
    .wrapper-lang{
        padding: 0 5px 0 5px;
    }
    span:hover{
        cursor: pointer;
    }
}